
body{
    background-color: #000000;
    text-align: center;
}
   
.dividir_contenido{
    margin-top: 30px;
    margin-bottom: 30px;
    color: aliceblue;
}

.container {
    -webkit-border-radius:10px;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -moz-border-radius: 10px; 
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.5);
    -o-border-radius: 10px; 
    -o-box-shadow:0 0 20px rgba(0,0,0,0.5);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,1);
    font-family: 'comfortaa',sans-serif;
    font-size: 18px;
    margin: 0 auto;
    padding: 20px ;
    width: 650px;

}
.campo{
    border: solid 4px #cece76;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 35px;
    width: 300px;

}

.boton{

    background: #FFD700;
    border: solid 1 ;
    border-radius: 20px;
    color: #fff;
    padding: 10px;



}
.errores{

    display: none;
    color: #f70000;
    font-size: 14px;
    margin-top: -80px;
    margin-left: 340px;
    padding: 10px;
    position: absolute;
}

.campo{
    border-radius: 1.5rem ;

}


